@import "../../assets/styles/global.scss";

.card {
    width: 280px;
    color: #000;
    padding: 20px;
    background: #E1F5FE;
    border-radius: 15px;
    margin-bottom: 30px;

    @include for-size(tablet-only) {
        width: 250px;
    }

    .doc-image-wrapper {
        position: relative;

        .doc-image {
            width: 100%;
        }

        .doc-icon-group {
            display: flex;
            flex-direction: row;
            justify-content: end;
            padding: 15px 0 10px;

            .icon-placeholder {
                svg {
                    font-size: 30px;
                    cursor: pointer;
                    color: #2faeb7;
                }
            }
        }
    }

    .keywords-wrapper {
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        .keyword-pill {
            padding: 5px 10px;
            background-color: #2faeb7;
            color: #fff;
            font-weight: bold;
            border-radius: 15px;
            font-size: 12px;
        }
    }

    .doc-info-wrapper {
        background: #fff;
        padding: 15px;
        border-radius: 15px;
        color: #384951;

        .conference-name {
            text-align: left;
            font-size: 14px;
        }

        .conference-date {
            text-align: left;
            font-size: 14px;
        }

        .doc-title {
            text-align: left;
            font-weight: bold;
            font-size: 16px;
            margin: 0;
        }

        .doc-author {
            text-align: left;
        }
    }

    .doc-abstract-wrapper {
        .doc-abstract {
            text-align: left;
            color: #384951;
        }

        .see-more-info {
            text-align: left;
            color: #2faeb7;
            cursor: pointer;
            font-weight: bold;
        }
    }
}