@import "../../../assets/styles/global.scss";


.loader-wrapper {
    position: relative;

    @include for-size(tablet-device) {
        width: 97%;
    }

    .loader {
        display: flex;
        align-items: center;
        overflow: hidden;
        height: 30vh;
        margin: 0 auto;
        position: relative;

        @include for-size(xs-device) {
            width: 80%;
            gap: 10px;
        }

        .magnifying-glass {
            position: absolute;
            left: 30%;
            top: 25%;

            @include for-size(tablet-portrait) {
                top: 17%;
            }

            @include for-size(lg-screen) {
                left: 34%;
            }

            svg {
                font-size: 150px;
                fill: #384951;

                @include for-size(xs-device) {
                    font-size: 120px;
                }
            }
        }

        .path {
            display: flex;
            justify-content: space-around;
            animation: eating-path 1s linear infinite;
            width: 100%;

            svg {
                font-size: 30px;
                stroke: #384951;
            }

            @include for-size(tablet-landscape-and-above) {
                &:nth-of-type(5) {
                    animation: scale 1s linear infinite;
                }
            }
            @include for-size(xs-device) {
                &:nth-of-type(5) {
                    animation: scale 1s linear infinite;
                }
            }

            @include for-size(tablet-portrait) {
                &:nth-of-type(6) {
                    animation: scale 1s linear infinite;
                }
            }
        }
    }

    .loader-text {
        position: absolute;
        @include for-size(tablet-landscape-and-above) {
            top: auto;
            left: 15%;
        }
        .content {
            font-weight: bold;
        }
    }
}

@keyframes eating-path {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
        transform: translateX(50%);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
        transform: translateX(-50%);
    }
}