@import "../../../assets/styles/global.scss";

.modal-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    margin: auto;

    .popup-wrapper {
        max-height: 90vh;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 15px 30px 0 rgba(#000, 0.25);

        @media (max-width: 600px) {
            width: 90%;
            overflow-y: scroll;
        }
    
        @include for-size(tablet-only) {
            width: 80%;
            overflow-y: scroll;
        }
        .popup-content {
            padding: 40px;
            @include for-size(xs-device) {
                padding: 20px;
            }
            .close-icon {
                font-size: 30px;
                width: 100%;
                text-align: right;
                margin-bottom: 20px;
            }
            .popup-content-text {
                text-align: left;
            }
        }
    }
}

.overlay {
    position: fixed;
    background-color: rgba(#000, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
}