beautifulsoup4==4.8.2
fastapi==0.95.2
keybert==0.7.0
numpy==1.24.1
pandas==2.0.1
pydantic==1.10.7
qdrant_client==1.2.0
Requests==2.31.0
sentence_transformers==2.2.2
tqdm==4.65.0
uvicorn==0.22.0
validators==0.20.0
